    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <!--a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a-->
	<div>
		<img class="navbar-brand white_logo js-scroll-trigger" src="img/large.png" >		
		<img src="img/pequeno.png" class="navbar-brand color_logo js-scroll-trigger">
	</div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Beneficios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Equipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contáctanos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Comer fuera de casa sin filas y sin estrés</h1>
          <hr>
          <p></p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#">Iniciar Sesión</a>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#">Registrarme</a>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Concéntrate en lo que realmente importa</h2>
            <hr class="light">
            <p class="text-faded">PanComido es una aplicación móvil que mejora tu experiencia comiendo fuera de casa. </p>
            <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Empecemos!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Beneficios</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-file-text-o text-primary sr-icons"></i><br><br>
              <h3>Única orden</h3>
              <p class="text-muted">Paga en un sólo lugar</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-users text-primary sr-icons"></i><br><br>
              <h3>Elimina filas</h3>
              <p class="text-muted">Ordenando con antelación</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-money text-primary sr-icons"></i><br><br>
              <h3>Divide el pago</h3>
              <p class="text-muted">Paga con tus amigos</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-certificate text-primary sr-icons"></i><br><br>
              <h3>Incentiva</h3>
              <p class="text-muted">Consigue bonos por compras en el establecimiento</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container text-center">
        <h2>Nuestro equipo</h2>
        <hr class="primary">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <img src="img/Ceron1.png" class="text-center sr-icons"><br><br>
              <h3>Alexander Ceron</h3>
              <p class="text-muted">Men</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <img src="img/Juan1.png" class="text-center sr-icons"><br><br>
              <h3 class="text-center">Juan Gonzalez</h3>
              <p class="text-muted">Manco</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <img src="img/Nicolas1.png" class="text-center sr-icons"><br><br>
              <h3>Nicolás Gómez</h3>
              <p class="text-muted">No manco</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <img src="img/Alejandra1.png" class="text-center sr-icons"><br><br>
              <h3>Alejandra Blanco</h3>
              <p class="text-muted">No men</p>
            </div>
          </div>
        </div>
      </div>
     
    </section>

    <br><br>
    <div class="call-to-action bg-dark">
      <div class="container text-center">
        <h2>¡Descargala ya!</h2>
        <a class="btn btn-default btn-xl sr-button" href="#">Play Store</a>
      </div>
    </div>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contáctanos</h2>
            <hr class="primary">
            <p>Y síguenos en nuestras redes sociales</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">contacto@spancomido.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>