<ngx-loading [show]="load" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="page_container">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">General Account Settings</h2>
            <hr class="primary">
          </div>
        </div>
    </div>
  <div class="container">
      
      <form [formGroup]="editRestaurantForm" (ngSubmit)="update()" novalidate>

        <div class="form-group">
          <label for="Rname">Restaurant Name</label>
          <input type="text" class="form-control" formControlName="Rname">
          <small *ngIf="editRestaurantForm.get('Rname').hasError('required') && editRestaurantForm.get('Rname').dirty">Name Required!</small>
          <small *ngIf="editRestaurantForm.get('Rname').hasError('minlength') && editRestaurantForm.get('Rname').dirty">At least 3 letters</small>
        </div><br>
        

        <div class="form-group">
          <label for="latitude">Latitude</label>
          <input type="number" class="form-control" formControlName="latitude">
          <small *ngIf="editRestaurantForm.get('latitude').hasError('required') && editRestaurantForm.get('latitude').dirty">Required field</small>
          <small *ngIf="editRestaurantForm.get('latitude').hasError('min') && editRestaurantForm.get('latitude').dirty">Must be more than -90</small>
          <small *ngIf="editRestaurantForm.get('latitude').hasError('max') && editRestaurantForm.get('latitude').dirty">Must be less than 90</small>
        </div><br>

        <div class="form-group">
          <label for="longitude">Longitude</label>
          <input type="number" class="form-control" formControlName="longitude">
          <small *ngIf="editRestaurantForm.get('longitude').hasError('required') && editRestaurantForm.get('longitude').dirty">Required field</small>
          <small *ngIf="editRestaurantForm.get('longitude').hasError('min') && editRestaurantForm.get('longitude').dirty">Must be more than -180</small>
          <small *ngIf="editRestaurantForm.get('longitude').hasError('max') && editRestaurantForm.get('longitude').dirty">Must be less than 180</small>
        </div><br>

        <button type="submit" class="btn btn-default btn-block btn-custom" [disabled]="!editRestaurantForm.valid">Save</button>
      </form>
      <small *ngIf="error!=null">{{error}}</small>
    </div>
</div>
