<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="#">PanComido</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="/" routerLink="/">Inicio</a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link" routerLinkActive="/tasks" routerLink="/users">Users</a>
      </li-->
      <!--li class="nav-item">
        <a class="nav-link" routerLinkActive="/edit" routerLink="/user_edit">Edit Users</a>
      </li-->
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLinkActive="/order" routerLink="/order">View Orders</a>
      </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLinkActive="/dish" routerLink="/dish">View Dishes</a>
        </li>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a href="#" class="nav-link" (click)="signOut()">(Sign Out)</a>
      </li>
    </ul>
     <!--form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate>
         <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" formControlName="search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  data-toggle="modal" data-target="#exampleModal">>Search</button>
     </form-->
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{error==""?(foundUser==null?'Loading...':'Username found!'):'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-12" *ngIf="foundUser!=null; else show_error">
                      <table class="table table-bordered table-responsive">
                          <thead>
                          <tr>
                              <th>Username</th>
                              <th>First name</th>
                              <th>Last name</th>
                              <th>Email</th>
                          </tr>
                          </thead>
                          <tr>
                              <td>{{foundUser.username}}</td>
                              <td>{{foundUser.firstname}}</td>
                              <td>{{foundUser.lastname}}</td>
                              <td>{{foundUser.email}}</td>
                          </tr>
                      </table>
                  </div>
                  <ng-template #show_error>{{error}}</ng-template>
              </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
