<ngx-loading [show]="load" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="page_container">    
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Commands</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
  <div class="container">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Command Id</th>
        <th>Actions</th>
        <th>State</th>
      </tr>
    </thead>
    <tr *ngFor="let command of commands">
        <td  *ngIf="command.state<2">{{ command.creation_date | date }}</td>
        <td  *ngIf="command.state<2">{{command.id_command}}</td>
        <td  *ngIf="command.state<2">
          <Button class="btn btn-primary" (click)="viewOrder(command.id_command)">Detail</Button>
          <Button class="btn btn-success" (click)="changeCommandState(command, 2)" [disabled]="command.state>1" >Ready</Button>
        </td>
        <td *ngIf="command.state<2">
            <p *ngIf="command.state == 0">Queued</p><p *ngIf="command.state == 1">In progress</p><p *ngIf="command.state == 2">Ready</p><p *ngIf="command.state == 3">Delivered</p>
        </td>
    </tr>
    <tr *ngIf="commands.length == 0">
      <td>No hay pedidos aún</td>
    </tr>
    </table>
    <Button id="buttonDeliver" class="btn btn-warning" routerLinkActive="/orderDelivery" routerLink="/orderDelivery">Show</Button>
  </div>
</div>