<ngx-loading [show]="load" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="page_container">    
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Commands</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
  <div class="container">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Command Id</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr *ngFor="let command of commands">
        <td>{{command.id_command}}</td>
        <td>
          <Button class="btn btn-primary" (click)="viewOrder(command.id_command)">Ver</Button>
        </td>
        <td>
          <Button class="btn btn-success" >Entregar</Button>
        </td>
        <td>
          <p>Estado: </p><p *ngIf="command.state == 0">En cola</p><p *ngIf="command.state == 1">En progreso</p><p *ngIf="command.state == 2">Lista</p><p *ngIf="command.state == 3">Entregada</p>
        </td>
    </tr>

    <tr *ngIf="commands.length == 0">
      <td>No hay pedidos aún</td>
    </tr>
    </table>
          
  </div>
</div>